<?xml version="1.0"?>
<robot name="sensor_rplidar" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mobile_robot_sim)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find mobile_robot_sim)/urdf/turtlebot_properties.urdf.xacro"/>
  <!-- Hokuyo 2D LIDAR -->
  <xacro:macro name="sensor_rplidar" params="parent">
    <joint name="laser" type="fixed">
      <origin xyz="0 0 0.15" rpy="3.14159 0.0 0.0" />
      <parent link="base_link" />
      <child link="base_laser_link" />
    </joint>

    <link name="base_laser_link">
      <visual>
        <geometry>
          <cylinder radius="0.025" length="0.03"/>
        </geometry>
        <material name="Green" />
      </visual>
      <inertial>
        <mass value="0.000001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>
    <!-- Set up laser gazebo details -->
    <rplidar_laser />
  </xacro:macro>
</robot>
